/**
 * RECT FOR BACKGROUND COLOUR
 */

rect {
  fill: rgb(255,255,255);
}

/**
 * WAVEFORM LINE COLOUR
 */

line, polyline {
  stroke: rgb(0,0,0);
  stroke-width: 0.3px;
}

.polyline-1 {
  fill: rgb(255, 0, 0);
}

.polyline-2 {
  fill: rgb(0, 0, 255);
}
